
<style type="text/css">
h1.panel-title{
    font-size:32px;
    background:#E6E6FA;
}
</style>
					
<div class="panel-group" id="accordion">
	<!--- first --->
	<div class="panel panel-data">
		<div class="panel-heading">
			<h1 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" 
				   href="#collapseOne" color="green">
				   1.create data block 
				   {% if verify['data'] %} <img src='../../../static/right.gif'> 
				   {% endif %}
				</a>
			</h1>
		</div>
		<div id="collapseOne" class="panel-collapse collapse {%if "data" in show_tab %}in{% endif %}">
			<div class="panel-body">
				<h3>
				{% include "auth/data.html" with context %}
				</h3>
			</div>
		</div>
	</div>
	
	<!--- second --->
	<div class="panel panel-setting">
		<div class="panel-heading">
			<h1 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" 
				   href="#collapseTwo">
				   2.select commodity set
				   {% if verify['set'] %} <img src='../../../static/right.gif'> 
				   {% endif %}
				</a>
			</h1>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse {%if "com_set" in show_tab %}in{% endif %}">
			<div class="panel-body">
				<h3>
				{% include "auth/commodity_set.html" with context %}
				</h3>
			</div>
		</div>
	</div>
	
	<!--- third --->
	<div class="panel panel-commodity_set">
		<div class="panel-heading">
			<h1 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" 
				   href="#collapseThree">
				   3.set global config
				   {% if verify['global_config'] %} <img src='../../../static/right.gif'> 
				   {% endif %}
				</a>
			</h1>
		</div>
		<div id="collapseThree" class="panel-collapse collapse {%if "global_config" in show_tab %}in{% endif %}">
			<div class="panel-body">
				<h3>
				{% include "auth/global_config.html" with context %}
				</h3>
			</div>
		</div>
	</div>
	
	<!--- fourth --->
	<div class="panel panel-entry">
		<div class="panel-heading">
			<h1 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" 
				   href="#collapseFour">
					4.set entry rules
					{% if verify['entry'] %} <img src='../../../static/right.gif'> 
				    {% endif %}
				</a>
			</h1>
		</div>
		<div id="collapseFour" class="panel-collapse collapse {%if "entry" in show_tab %}in{% endif %}">
			<div class="panel-body">
				{% include "auth/entry.html" with context %}
			</div>
		</div>
	</div>
	
	<!--- fifth --->
	<div class="panel panel-exit">
		<div class="panel-heading">
			<h1 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" 
				   href="#collapseFive">
					5.set exit rules
					{% if verify['exit'] %} <img src='../../../static/right.gif'> 
				    {% endif %}
				</a>
			</h1>
		</div>
		<div id="collapseFive" class="panel-collapse collapse {%if "exit" in show_tab %}in{% endif %}">
			<div class="panel-body">
				{% include "auth/exit.html" with context %}
			</div>
		</div>
	</div>
	
</div>

<script type="text/javascript">
	$(function () { $('#collapseFive').collapse({
		toggle: false
	})});
	$(function () { $('#collapseFour').collapse('show')});
	$(function () { $('#collapseTwo').collapse('show')});
	$(function () { $('#collapseThree').collapse('toggle')});
	$(function () { $('#collapseOne').collapse('hide')});
</script>  