{% if not verify['data'] %}
<form method="POST" action="{{ url_for('auth.fill_data') }}">
	
	<style type="text/css">
	#submit2_data{
	    float:right;
	}
	</style>
	
    {{ data_form.hidden_tag() }}
    
    <div class="row">
	<h2>{{ wtf.form_field(data_form.start_date,form_type = 'horizontal') }}</h2>
	</div>
	<div class="row">
	<h2>{{ wtf.form_field(data_form.end_date,form_type = 'horizontal') }}</h2>
	</div>
	
	<div class="row">
	<div class="col-md-4"><h2>{{ data_form.level.label }} {{ data_form.level }}</h2></div>
	<div class="col-md-4"><h2>{{ data_form.adjust.label }} {{ data_form.adjust }}</h2></div>
	</div>
	
	<div class="row">
	<div class="col-md-2"><h2>{{ data_form.indicators.label }}</h2></div>
	<div class="col-md-10"><h3>{{ data_form.indicators }}</h3></div>
	</div>
	<div class="row">
	<h2>{{ wtf.form_field(data_form.instruments,form_type = 'horizontal') }}</h2>
	</div>
	
	<!--- don't need upload instruments file now 
	<div class="row">
	<h2><div class="col-md-6">&nbsp;Or Upload Instruments File:</div></h2>
	<h3><div class="col-md-2">{{ data_form.or_upload_file }}</div></h3>
	</div>
	--->
	
	<div class="col-md-1 success" id = "submit2_data">
	<h3>{{ wtf.form_field(data_form.submit2, button_map={'submit2':'success'}) }}</h3>
	</div>
	
</form>
{% else %}

<style type="text/css">
	#modify_data{
	    float:right;
	}
	.key{
	    background:#E6E6FA;
	}
</style>

<table class = "table table-bordered table-condensed">

<tr>
<div class="row">
  <div class="col-md-2 key">start_date:</div>
  <div class="col-md-4 value"><h4>{{data_block['start_date']}}</h4></div>
  <div class="col-md-2 key">end_date:</div>
  <div class="col-md-4 value"><h4>{{data_block['end_date']}}</h4></div>
</div>
</tr>

<tr>
<div class="row">
  <div class="col-md-2 key">level:</div>
  <div class="col-md-4 value"><h4>{{data_block['level']}}</h4></div>
  <div class="col-md-2 key">adjust:</div>
  <div class="col-md-4 value"><h4>{{data_block['adjust']}}</h4></div>
</div>
</tr>

<tr>
<div class="row" >
  <div class="col-md-2 key">indicators:</div>
  <div class="col-md-10 value"><h4>{{data_block['indicators']}}</h4></div>
</div>
</tr>

<tr>
<div class="row">
  <div class="col-md-2 key">instruments:</div>
  <div class="col-md-10 value"><h4>{{data_block['instruments']}}</h4></div>
</div>
</tr>

<tr>
<div class="row">
  <form method="POST"  action="{{ url_for('auth.modify_data') }}">
  {{ modify_data_form.hidden_tag() }}
  <div class="col-md-1 success" id = "modify_data">
  <h3>{{ wtf.form_field(modify_data_form.submit3, button_map={'submit3':'success'}) }}</h3>
  </div>
  </form>
</div>
</tr>

</table>
{% endif %}
