<table data-toggle="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>logic</th>
            <th>condID</th>
            <th>flip</th>
            <th>gap</th>
            <th>offset</th>
            <th>lowthrs</th>
            <th>highthrs</th>
            <th>para1</th>
            <th>para2</th>
            <th>para3</th>
            <th>para4</th>
            <th>para5</th>
        </tr>
    </thead>
    
    <tbody>
        <tr>
            <td>0</td>
            <td>AND</td>
            <td>11000</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>-0.1</td>
            <td>0.1</td>
            <td>120</td>
            <td>0.0</td>
            <td>0.0</td>
            <td>0.0</td>
            <td>0.0</td>
        </tr>
        <tr>
            <td>1</td>
            <td>AND</td>
            <td>1500</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>98</td>
            <td>5</td>
            <td>0.0</td>
            <td>0.0</td>
            <td>0.0</td>
            <td>0.0</td>
        </tr>
    </tbody>
</table>
