<style type="text/css">
	#add_exit_rule_submit{
	    float:right;
	}
	#reset_exit_rules_submit{
		float:right;
	}
</style>


<h2>saved rules:</h2>
<h4>
<table data-toggle="table">
    <thead>
        <tr>
            <th>logic</th>
            <th>condID</th>
            <th>flip</th>
            <th>gap</th>
            <th>offset</th>
            <th>lowthrs</th>
            <th>highthrs</th>
            <th>para1</th>
            <th>para2</th>
            <th>para3</th>
            <th>para4</th>
            <th>para5</th>
        </tr>
    </thead>
    </tbody>
	{% for row in exit_condtion_values -%}
   		<tr>
   		{% for val in row -%}
   			<td> {{ val }} </td>
   		{%- endfor %}
   		</tr>
   	{%- endfor %}
	</tbody>
</table>
</h4>
<form method="POST" action="{{ url_for('auth.fill_exit_rule_data') }}">
	{{ reset_exit_rule_form.hidden_tag() }}  
	<div class ="row">
		<div class="col-md-1 success" id = "reset_exit_rules_submit">
		<h3>{{ wtf.form_field(reset_exit_rule_form.reset_exit_rules, button_map={'reset_exit_rules':'success'}) }}</h3>
		</div>
	</div>
</form>
	
<br>

<h2>add an exit rule:</h2>
<h4>
<form method="POST" action="{{ url_for('auth.fill_exit_rule_data') }}">
	{{ add_exit_rule_form.hidden_tag() }}
    <table data-toggle="table">
    <thead>
        <tr>
            <th>logic</th>
            <th>condID</th>
            <th>flip</th>
            <th>gap</th>
            <th>offset</th>
            <th>lowthrs</th>
            <th>highthrs</th>
            <th>para1</th>
            <th>para2</th>
            <th>para3</th>
            <th>para4</th>
            <th>para5</th>
        </tr>
    </thead>
    <tbody>
    <tr>
    	<div class="row">
        <td><div class="inline-block">{{ add_exit_rule_form.logic }}</div></td>
        <td><div class="inline-block">{{ add_exit_rule_form.condID }}</div></td>
        <td><div class="inline-block">{{ add_exit_rule_form.flip }}</div></td>
        <td><div class="inline-block">{{ add_exit_rule_form.gap }}</div></td>
        <td><div class="inline-block">{{ add_exit_rule_form.offset }}</div></td>
        <td><div class="inline-block">{{ add_exit_rule_form.lowthrs }}</div></td>
        <td><div class="inline-block">{{ add_exit_rule_form.highthrs }}</div></td>
        <td><div class="inline-block">{{ add_exit_rule_form.para1 }}</div></td>
        <td><div class="inline-block">{{ add_exit_rule_form.para2 }}</div></td>
        <td><div class="inline-block">{{ add_exit_rule_form.para3 }}</div></td>
        <td><div class="inline-block">{{ add_exit_rule_form.para4 }}</div></td>
        <td><div class="inline-block">{{ add_exit_rule_form.para5 }}</div></td>
        </div>
    </tr>
    </tbody>
    </table>
	<div class ="row">
		<div class="col-md-1 success" id = "add_exit_rule_submit">
		<h3>{{ wtf.form_field(add_exit_rule_form.add_exit_rule, button_map={'add_exit_rule':'success'}) }}</h3>
		</div>
	</div>
</form>
</h4>
