<style type="text/css">
	#add_exit_rule_submit{
	    float:right;
	}
</style>


<h2>saved rules:</h2>
<div id="exit_toolbar">
    <button id="exit_rule_submit_button" class="btn btn-default">submit</button>
    <button id="exit_rule_remove_row_button" class="btn btn-default">remove rows</button>
    <button id="exit_rule_clearAll" class="btn btn-default">clearAll</button>
</div>

<h4>
<table data-toggle="table" 
	   id="exit_rule_table"
	   data-toggle="table"
       data-pagination="true"
       data-show-export="true"
       data-show-refresh="true"
       data-toolbar="#exit_toolbar"
       data-url="{{ url_for('auth.query_exit_rule_data') }}"
>
    <thead>
        <tr>
            <th data-field="state" data-checkbox="true"></th>
        	<th data-field="id" data-checkbox="true" class="hidden">id</th>
            <th data-field="op" data-editable="true">logic</th>
            <th data-field="fid" data-editable="true">condID</th>
            <th data-field="flip" data-editable="true">flip</th>
            <th data-field="gap1" data-editable="true">gap</th>
            <th data-field="offset1" data-editable="true">offset</th>
            <th data-field="lothr" data-editable="true">lowthrs</th>
            <th data-field="hithr" data-editable="true">highthrs</th>
            <th data-field="param0" data-editable="true">para0</th>
            <th data-field="param1" data-editable="true">para1</th>
            <th data-field="param2" data-editable="true">para2</th>
            <th data-field="param3" data-editable="true">para3</th>
            <th data-field="param4" data-editable="true">para4</th>
        </tr>
    </thead>
    <!---
    </tbody>
	{% for row in exit_condtion_values -%}
   		<tr>
   		{% for val in row -%}
   			<td> {{ val }} </td>
   		{%- endfor %}
   		</tr>
   	{%- endfor %}
	</tbody>
	--->
</table>
</h4>

<h2>add an exit rule:</h2>
<h4>
<form method="POST" action="{{ url_for('auth.fill_exit_rule_data') }}">
	{{ add_exit_rule_form.hidden_tag() }}
    <table data-toggle="table">
    <thead>
        <tr>
            <th>logic</th>
            <th>condID</th>
            <th>flip</th>
            <th>gap</th>
            <th>offset</th>
            <th>lowthrs</th>
            <th>highthrs</th>
            <th>para1</th>
            <th>para2</th>
            <th>para3</th>
            <th>para4</th>
            <th>para5</th>
        </tr>
    </thead>
    <tbody>
    <tr>
    	<div class="row">
        <td><div class="inline-block">{{ add_exit_rule_form.logic }}</div></td>
        <td><div class="inline-block">{{ add_exit_rule_form.condID }}</div></td>
        <td><div class="inline-block">{{ add_exit_rule_form.flip }}</div></td>
        <td><div class="inline-block">{{ add_exit_rule_form.gap }}</div></td>
        <td><div class="inline-block">{{ add_exit_rule_form.offset }}</div></td>
        <td><div class="inline-block">{{ add_exit_rule_form.lowthrs }}</div></td>
        <td><div class="inline-block">{{ add_exit_rule_form.highthrs }}</div></td>
        <td><div class="inline-block">{{ add_exit_rule_form.para1 }}</div></td>
        <td><div class="inline-block">{{ add_exit_rule_form.para2 }}</div></td>
        <td><div class="inline-block">{{ add_exit_rule_form.para3 }}</div></td>
        <td><div class="inline-block">{{ add_exit_rule_form.para4 }}</div></td>
        <td><div class="inline-block">{{ add_exit_rule_form.para5 }}</div></td>
        </div>
    </tr>
    </tbody>
    </table>
	<div class ="row">
		<div class="col-md-1 success" id = "add_exit_rule_submit">
		<h3>{{ wtf.form_field(add_exit_rule_form.add_exit_rule, button_map={'add_exit_rule':'success'}) }}</h3>
		</div>
	</div>
</form>
</h4>
