{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}test form{% endblock %}

{% block page_content %}

<style type="text/css">
	table {
		text-align:left;	
	}
	th, td {
		width:5px;	
	}
</style>

<div class="page-header">
	
    <form method="POST" action="{{ url_for('main.testForm') }}">
    	{{ test_form.hidden_tag() }}
        
        <table data-toggle="table">
	    <thead>
	        <tr>
	            <th>ID</th>
	            <th>logic</th>
	            <th>condID</th>
	            <th>flip</th>
	            <th>gap</th>
	            <th>offset</th>
	            <th>lowthrs</th>
	            <th>highthrs</th>
	            <th>para1</th>
	            <th>para2</th>
	            <th>para3</th>
	            <th>para4</th>
	            <th>para5</th>
	        </tr>
	    </thead>
	    <tbody>
	    <tr>
	    	<div class="row">
	    	<td><div class="inline-block">0</div></td>
	        <td><div class="inline-block">{{ test_form.logic }}</div></td>
	        <td><div class="inline-block">{{ test_form.condID }}</div></td>
	        <td><div class="inline-block">{{ test_form.flip }}</div></td>
	        <td><div class="inline-block">{{ test_form.gap }}</div></td>
	        <td><div class="inline-block">{{ test_form.offset }}</div></td>
	        <td><div class="inline-block">{{ test_form.lowthrs }}</div></td>
	        <td><div class="inline-block">{{ test_form.highthrs }}</div></td>
	        <td><div class="inline-block">{{ test_form.para1 }}</div></td>
	        <td><div class="inline-block">{{ test_form.para2 }}</div></td>
	        <td><div class="inline-block">{{ test_form.para3 }}</div></td>
	        <td><div class="inline-block">{{ test_form.para4 }}</div></td>
	        <td><div class="inline-block">{{ test_form.para5 }}</div></td>
	        </div>
	    </tr>
	    </tbody>
	    </table>
		<div class ="row">
			<div class="col-md-2 success" id = "submit_test_form">
			<h3>{{ wtf.form_field(test_form.submit_rule, button_map={'submit_rule':'success'}) }}</h3>
			</div>
		</div>
    </form>
    <!---
   	{% for row in conditions -%}
   		<tr>
   		{% for val in row -%}
   			<td> {{ val }} </td>
   		{%- endfor %}
   		</tr>
   	{%- endfor %}
   	--->  
</div>

{% endblock %}
