{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Platform{% endblock %}
{% block page_content %}

<div class="page-header">
    <h1>
    {% if current_user.is_authenticated -%}
    Welcome {{ current_user.username }}!
    <br><br>
    <ol>
	&nbsp;<li><a href="{{ url_for('auth.fill') }}">Index Futures HistRun</a></li>
	&nbsp;<li>Commodity Futures HistRun</li>
	&nbsp;<li>Stock HistRun</li>
	&nbsp;<li>Stock Portfolio Run</li>
	</ol>
    {% else %}
    &nbsp;&nbsp;<a href="{{ url_for('auth.login') }}">Click here to login</a>
    {% endif %}
    </h1>
</div>
{% endblock %}



