<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title> 许迪 | 简历 </title>
    <link rel="stylesheet" href = "static/resume.css" />
    <script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
</head>
<body class="nojs">
    <div>
        <section id="information">
            <h2>基本信息</h2>
            <img src="static/xudi.jpg" alt="xudi" />
            <p><span>姓名：</span>许迪</p>
            <p><span>性别：</span>男</p>
            <p><span>出生年月：</span>1989年3月</p>
            <p><span>移动电话：</span>13581659368</p>
            <p><span>电子邮件：</span><a class="print">xudi1989@ruc.edu.cn</a></p>
            <p><span>个人网站：</span><a class="print" href="https://github.com/cccoast">https://github.com/cccoast</a></p>
        </section>
	<section id="skills">
	    <h2>专业技能</h2>
	    <ul>
            <li><p>熟悉金融领域相关业务，对中央银行、金融机构、金融行业运行逻辑有一定了解</p></li>
	    <li><p>了解信息行业前沿动态，有较强的软件设计、开发能力，在GitHub开源社区开发若干金融交易、数据分析软件</p></li>
            <li><p>有扎实的数学基础，良好的逻辑思维能力，文字功底较好</p></li>
            </ul>
        </section>
	<section id="education">
            <h2>教育背景</h2>
            <p><time>2007.09 - 2011.07:</time>中国人民大学信息学院 计算机科学与技术 本科   GPA:3.62/4</p>
            <p><time>2011.09 - 2014.07:</time>中国人民大学经济学院 数量经济学 	  研究生 GPA:3.76/4</p>
	    <ul><li><p>主修课程：高级计量经济学、概率论及数理统计、高级宏观、微观经济学、程序设计、软件工程</p></li></ul>
        </section>
        <section id="experiences">
            <h2>工作经验</h2>
            <h3><time>2013.02 - 2014.04:</time>wizardQuant 广东 交易员</h3> 
	    <ul>
            <li><p>交易平台开发， 代码量>50000行</p></li>
	    <li><p>交易策略研发， 高频交易、基本面因子交易</p></li>
            </ul>
            <h3><time>2014.08 - 2015.07:</time>中国人民银行人事司 选调生 公务员</h3> 
            <ul>
            <li><p>组织人民银行系统职称评审工作</p></li>
	    <li><p>组织金融平台“千人计划”评审</p></li>
	    </ul>
	    <h3><time>2015.08 - 2017.01:</time>广东省东莞市长安镇经济科技信息局 公务员 基层锻炼</h3> 
            <ul>
	    <li><p>深入了解珠三角地区民营经济发展情况，电子行业、模具制造行业具体生产过程</p></li>
	    <li><p>参与东莞市产业升级项目，参与“机器换人”，节能减排等产业政策实施</p></li>
	    <li><p>学习了解发达地区基层经济结构与政府管理情况</p></li>
            </ul>
	    <h3><time>2017.02 - 2017.07:</time>陕西省渭南市华阴市中国人民银行支行 公务员 基层煅炼</h3> 
            <ul>
	    <li><p>了解欠发达地区经济与政治情况</p></li>
	    <li><p>参与当地县支行及地方政府主要业务，参加扶贫工作</p></li>
            </ul>
        </section>
	<section id="evaluation">
            <h2>自我评价</h2>
	    <ul>
            <li><p>我有信息、数学与金融的复合教育背景，专业基础扎实，能够很快地适应以上领域相关工作。热爱编程、业余时间曾投入大量精力进行金融量化分析。热爱、擅长文字撰写，有较好的文字功能以及语言组织能力。</p></li>
	    <li><p>为人踏实忠诚，对工作认真热忱，服从组织与领导安排，对工作事宜能够妥善沟通。有较强的责任心，能够承受较大的工作压力。</p></li>
            </ul>
        </section>
    </div>
    <footer>
        <p>xudi copyright</p>
    </footer>
    <script src="static/resume.js" type = 'text/javascript' charset="UTF-8"></script>
</body>
</html>
